@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';


@theme {
  --color-primary: #C8102E;
  --color-secondary: #1E293B;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  --color-accent: #F97316;        /* teks badge */
  --color-accent-bg: #FFEDD5;     /* background badge */
}
[x-cloak] { display: none !important; }
